Conjunto A: <input type="text">
Conjunto B: <input type="text">
<br>
<input type="radio" name="opciones">Posibles relaciones<br>
<input type="radio" name="opciones">Posibles funciones<br>
<input type="radio" name="opciones">Posibles funciones inyectivas<br>
<input type="radio" name="opciones">Posibles funciones suprayectivas<br>
<input type="radio" name="opciones">Posibles funciones biyectivas<br>
<input type="radio" name="opciones">Evaluar relación: <input type="text"><br>

<div>
<table border="solid black">
  <th>No.</th>
  <th>Pares ordenados</th>
  <th>Relación</th>
  <th>Función</th>
  <th>F. Inyectiva</th>
  <th>F. Suprayectiva</th>
  <th>F. Biyectiva</th>
</table>
</div>