Conjunto A: <input type="text" [(ngModel)]="conjuntoA" />
Conjunto B: <input type="text" [(ngModel)]="conjuntoB" />
<br>
<input type="radio" [(ngModel)]="opcion" value="r">Posibles relaciones<br>
<input type="radio" [(ngModel)]="opcion" value="f">Posibles funciones<br>
<input type="radio" [(ngModel)]="opcion" value="i">Posibles funciones inyectivas<br>
<input type="radio" [(ngModel)]="opcion" value="s">Posibles funciones suprayectivas<br>
<input type="radio" [(ngModel)]="opcion" value="b">Posibles funciones biyectivas<br>
<input type="radio" [(ngModel)]="opcion" value="e">Evaluar relación: <input type="text"><br>

<button (click)="procesar()" [disabled]="sinConjuntos()">
  Procesar
</button>

<div *ngIf="haySolucion()"> 
<table border="solid black">
  <thead>
    <th>No.</th>
    <th>Pares ordenados</th>
    <th>Relación</th>
    <th>Función</th>
    <th>F. Inyectiva</th>
    <th>F. Suprayectiva</th>
    <th>F. Biyectiva</th>
  </thead>
  <tbody>
      <tr *ngFor="let salida of salidas; let indice = index">
        <td>{{ indice+1 }}</td>
        <td>{{ salida }}</td>
        <td>{{ esRelacion[indice] }}</td>
        <td>{{ esFuncion[indice] }}</td>
        <td>{{ esInyectiva[indice] }}</td>
        <td>F. Suprayectiva</td>
        <td>F. Biyectiva</td>
      </tr>
  </tbody>
</table>
</div>